#invisible{
	visibility: hidden;
}

html, body{
   margin: 0px;
   padding: 0px;
   height: 100%;
   width: 100%;
}

body{
	background-color: #d3d3d3;
}

#pagename{
   padding:30px 0px 30px 0px;
   margin: auto;
   background-color:gray;
   width: 100%;
   height: 40px;
   text-align: center;
}

#pagename h1{
   font-size: 25px;
   padding-top: 10px;
}

#page{
   width: 800px;
   min-height: 100%;
   margin: 0 auto; 
   padding: 0px 20px 0px 20px;
   background-color: #ffffff;
   text-align: center;
}

.assignlist{
	width:200px;
	margin:0 auto;
}

.assignlist ul{
	list-style: none;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin-bottom: 5px;
}

.assignlist a{
	position: relative;
	display: block;
	padding: 5px 0 5px 0;
	margin: 5px 0 0 0;
	background: #ff6600;
	color: black;
	text-decoration: none;
	border-radius: 7px;
}

.assignlist a:hover{
	background: #d6d4d4;
	text-decoration:none;
	transform: scale(1.1);
}