html, body{
   margin: 0px;
   padding: 0px;
   height: 100%;
   width: 100%;
}

body{
	background-color: #d3d3d3;
}

#pagecontent{
   width: 800px;
   min-height: 100%;
   margin: 0 auto; 
   padding: 0px 20px 0px 20px;
   background-color: #ffffff;
   text-align: center;
}
